<section class="home-section">
  <div class="home-section--wrapper">
    <div class="home-wrapper--title">
      <h1>Seu Assistente Chegou!</h1>
      <p>
        Aqui você consegue tirar todas as suas dúvidas e aprender mais sobre o Theatro da Paz de Belém do Pará!
      </p>
    </div>
    <div class="home-wrapper--image">
      <icon-frame class="icon-frame"></icon-frame>
      <img src="/assets/theatro-paz-bg.png" alt="museu logo">
    </div>
    <div class="home-wrapper--button-talk">
      <button (click)="goToChat()">
        <div></div>
        <span>Vamos conversar?</span>
        <icon-arrow-right class="arrow-right"></icon-arrow-right>
      </button>
    </div>
  </div>
</section>
